/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #FFFFFE;
  color: #0f0e17;
}


/* components */
.container {
  width: 90%;
  max-width: 1170px;
  margin: 50px auto;
  text-align: center;
}

/* utility */

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

.debug {
  background-color: rgba(255, 80, 70, 0.50);
  border: 1px solid black;
}

/* main */
h1 {
  font-size: 2rem;
  color: #E53170;
  padding-bottom: 40px;
}

.row .col {
  float: left;
  height: 100px;
  width: calc(100% / 3);
  min-width: 344px;
  padding: 0 16px;
  margin-bottom: 50px;
}

.card {
  color: #FFFFFE;
  background-color: #0F0E17; 
  box-shadow: 0px 0px 15px rgba(0,0,0,.50);
}

.avatar {
  width: 100px;
  float: left;
}

.text {
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  width: calc(100% - 100px - 16px);
  height: 100%;
  background-color:#0F0E17;
}

.name {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2rem;
}

.profession {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.card a {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #36A8DC;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}